.wrapper {
    width:    450px;
    border:   none;
    overflow: hidden; /* wrapper should contain a .first div, then a .second div */
}
.first {
    width:    400px;
    float:    left;
    border:   none;
}

.second {
	background-image: 	 url(/assets/images/sprites.png);
	background-position: 0px -609px;
	width:	  20px;
	height:	  23px;
	display:  inline-block;

    border:   none;
    overflow: hidden;
	position: relative;
	top: 	  30px;
	left: 	  5px;
}

.second img {
	background-image: url(/assets/images/sprites.png);
	background-position: 0px -609px;
	width:	 20px;
	height:	 23px;
	display: inline-block;
}


