.wrapper {
    width:    450px;
    border:   none;
    overflow: hidden; /* wrapper should contain a .first div, then a .second div */
}
.first {
    width:    400px;
    float:    left;
    border:   none;
}

.second {
	background-image: 	 url(/assets/images/sprites.png);
	background-position: 0px -609px;
	width:	  20px;
	height:	  23px;
	display:  inline-block;

    border:   none;
    overflow: hidden;
	position: relative;
	top: 	  30px;
	left: 	  5px;
}

.second img {
	background-image: url(/assets/images/sprites.png);
	background-position: 0px -609px;
	width:	 20px;
	height:	 23px;
	display: inline-block;
}

table.minimal {
	margin-top: 0.5em;
}
table.minimal td {
	padding: 0;	
	padding-top: 0.25em;	
	padding-bottom: 0.25em;	
	padding-left: 1.0em;	
}
table.minimal th {
	font-weight: normal;
	padding: 0;	
}
form.block {
	display: inline-block;
}
