@(currentUser: User, competenceForm: Form[UserController.CompetenceProfileForm], availabilityForm: Form[UserAvailabilityController.AvailabilityForm])

@import helper._
@import scala._

@main(Messages("title.competence"), Messages("header.welcome")+ " " + currentUser.name + "!", true) {

<h3>
	@if(currentUser.isHired) {
		@Messages("user.isHired") 
	} else {
		@Messages("user.notHiredYet")
	}
</h3>
	<h4>@Messages("list.competences")</h4>

	@helper.form(action = routes.UserController.addCompetence) {
	<div class="four column">
		@select(
			competenceForm("competence"),
			Competence.getList().zip(Competence.getList().map((i: String) => Messages("competence." + i.toInt))),
			'_default -> Messages("choose.competence"),
			'_label -> Messages("plain.competence"),
			'_error -> competenceForm("competence").error.map(_.withMessage(Messages("choose.competence")))
		)
	</div>
	<div class="four column">
		@helper.inputText(
			competenceForm("yearsOfExperience"),
			'_label -> Messages("panel.competenceYears")
	)
	</div>
	<div class="four column">
		<button class="small button compButton" type="submit">@Messages("button.addCompetence")</button>
	}
	</div>
	
	<div class="twelve column">		
	@if(competenceForm.hasGlobalErrors) { 
        <p class="error">
        	@competenceForm.globalError.message
        </p>
            }
   </div>
	
	@competenceList(currentUser, true)
	@editAvailability(currentUser, availabilityForm)
	@availabilityList(currentUser)
}
