@(currentUser: User, competenceForm: Form[UserController.CompetenceProfileForm])

@import helper._
@import scala._

@main(Messages("title.competence"), Messages("header.welcome")+ " " + currentUser.name + "!", true) {

	<h2>@Messages("list.competences")</h2>

	<div class="row">
	@helper.form(action = routes.UserController.addCompetence) {
	<div class="eight column">
		@select(
			competenceForm("competence"),
			Competence.getList().zip(Competence.getList().map((i: String) => Messages("competence." + i.toInt))),
			'_default -> Messages("choose.competence"),
			'_label -> Messages("plain.competence"),
			'_error -> competenceForm("competence").error.map(_.withMessage(Messages("choose.competence")))
		)
	</div>
	<div class="four column">
		@helper.inputText(
			competenceForm("yearsOfExperience"),
			'_label -> Messages("panel.competenceYears")
	)
	</div>
	</div>
	<div class="twelve column">
		<button class="small button" type="submit">@Messages("button.addCompetence")</button>
	</div>
		@if(competenceForm.hasGlobalErrors) { 
        <p class="error">
        	@competenceForm.globalError.message
        </p>
            }
	}
	<div class="row">
	</div>
	<table>
		<thead>
			<th>@Messages("panel.competenceName")</th>
			<th>@Messages("panel.competenceYears")</th>
		</thead>
		<a href="./competence">Lägg till nya kompetenser</a>
		@for(comp <- currentUser.competenceProfileList) {
		<tr>
			<td>@Messages("competence." + comp.competence.competence_id)</td>
			<td>@comp.years_of_experience</td>
		</tr>
		}
	</table>
}
