@(currentUser: User, availabilityForm: Form[UserAvailabilityController.AvailabilityForm])

	<h4>@Messages("availability")</h4>
	
	<div class="row">
 	@helper.form(action = routes.UserAvailabilityController.addAvailability) {
 		<div class="four column">
		@helper.inputText(availabilityForm("from_date"), '_label -> Messages("from"))
		</div>
		<div class="four column">
		@helper.inputText(availabilityForm("to_date"), '_label -> Messages("to"))
		</div>
		@if(availabilityForm.hasGlobalErrors) { 
        <p class="error">
        	@availabilityForm.globalError.message
        </p>
            }
        
        	<button class="small button compButton" type="submit">@Messages("save")</button>
	</div>
	}