@(currentUser: User, availabilityForm: Form[UserAvailabilityController.AvailabilityForm])

	<h4>@Messages("availability")</h4>
	
	<div class="row">
 	@helper.form(action = routes.UserAvailabilityController.addAvailability) {
 		@if(availabilityForm.hasErrors) { 
        	<p class="error">
        		@availabilityForm.errors
        	</p>
        }
 		<div class="four column">
		@helper.inputDate(availabilityForm("from_date"), '_label -> Messages("from"), 'placeholder -> "YYYY-MM-DD")
		</div>
		<div class="four column">
		@helper.inputDate(availabilityForm("to_date"), '_label -> Messages("to"), 'placeholder -> "YYYY-MM-DD")
		</div>
		<button class="small button compButton" type="submit">@Messages("save")</button>
	</div>
	}