@(form: Form[UserController.Login])

@main(Messages("title.login"), Messages("header.login"), false) {
	<div class="four colums offset-by-four">
	@helper.form(action = routes.UserController.authenticate) {
		@helper.inputText(form("username"), '_label -> Messages("plain.username"))
		@helper.inputPassword(form("password"), '_label -> Messages("plain.password"))
		@if(form.hasGlobalErrors) { 
        <p class="error">
        	@form.globalError.message
        </p>
            }
        	<button class="small button" type="submit">@Messages("button.login")</button>
        	<a href="/register" class="small button">@Messages("button.registernew")</a>
     </div>
	}
}
