@(title: String, h1: String, loggedIn: Boolean)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/foundation/stylesheets/app.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/foundation/stylesheets/foundation.css")"/>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")"/>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <div class="page row">
    	<div class="twelve columns header">
    		<h1>
    			@h1
    			@if(loggedIn){
    				<a href="/logout" class="small button logout">@Messages("button.logout")</a>
    			}
    		</h1>
    	</div>
   	<div class="twelve columns centered">
		@content
    </div>
    </div>
    </body>
</html>
