@(currentUser: User)

@import helper._
@import scala._

@main(Messages("title.competence"), Messages("header.welcome") + " " + currentUser.name + "!", true) {
	<div class="row">
		<table class="twelve">
			<thead>
				<th>@Messages("userlist.users")</th>
				<th>@Messages("plain.competence")</th>
			</thead>
			@for(user <- User.getAllApplicants()) {
				<tr>
				<td>
					<a href="/user/@user.person_id">
						@user.surname @user.name
					</a>
				</td>
				<td class="competencelist">
					<ul class = "six minimal">
						@for(comp <- user.competenceProfileList) {
							<li>
								@Messages("competence." + comp.competence.competence_id)
							</li>
						}
					</ul>
				</td>
			</tr>
			}
		</table>
	</div>
}
