@(registerForm: Form[User])

@import controllers.routes.javascript._

@main(Messages("title.register"), Messages("header.register"), false) {
	<div class="eight columns offset-by-two">
  	@helper.form(action = routes.UserController.newUser(), 'id -> "registerForm") {

		<div class="wrapper">
			<div class="first">
				@helper.inputText(registerForm("username"))
			</div>
			<div class="second" id="usernameOk">
			</div>
		</div>
							
		<div class="wrapper">
			<div class="first">
				@helper.inputPassword(registerForm("password"))
			</div>
			<div class="second" id="passwordOk" style="background-image: url(@routes.Assets.at("images/sprites.png")); background-position:0px -609px;width:20px;height:23px;display:inline-block;">
			</div>
		</div>
		<div class="wrapper">
			<div class="first">
				@helper.inputPassword(registerForm("confirmPassword"))
			</div>
			<div class="second" id="confirmPasswordOk" style="background-image: url(@routes.Assets.at("images/sprites.png"));background-position:0px -609px;width:20px;height:23px;display:inline-block;">
			</div>
		</div>
		
		<div class="wrapper">
			<div class="first">
				@helper.inputText(registerForm("email"))
			</div>
			<div class="second" id="emailOk" style="background-image: url(@routes.Assets.at("images/sprites.png"));background-position:0px -609px;width:20px;height:23px;display:inline-block;">
			</div>
		</div>
			
		<div class="wrapper">
			<div class="first">
		        @helper.inputText(registerForm("name"))
			</div>
			<div class="second" id="nameOk" style="background-image: url(@routes.Assets.at("images/sprites.png"));background-position:0px -609px;width:20px;height:23px;display:inline-block;">
			</div>
        
		<div class="wrapper">
			<div class="first">
    		    @helper.inputText(registerForm("surname"))
			</div>
			<div class="second" id="surnameOk" style="background-image: url(@routes.Assets.at("images/sprites.png"));background-position:0px -609px;width:20px;height:23px;display:inline-block;">
			</div>
        
		<div class="wrapper">
			<div class="first">
        		@helper.inputText(registerForm("ssn"))
			</div>
			<div class="second" id="ssnOk" style="background-image: url(@routes.Assets.at("images/sprites.png"));background-position:0px -609px;width:20px;height:23px;display:inline-block;">
			</div>
		</div>
		<button class="small button" type="submit">@Messages("button.register")</button>
	}
	</div>
	</div>
	<script src="@routes.UserController.javascriptRoutes" type="text/javascript">
	</script>
    <script src="@routes.Assets.at("javascripts/registerValidation.js")" type="text/javascript">
    </script>        
}

