@(userList:List[User], registerForm: Form[User])

@main("Registration form") {

	<div class="four columns centered">
  	@helper.form(action = routes.Application.newUser(), 'id -> "registerForm") {
		@helper.inputText(registerForm("username"))
		@helper.inputPassword(registerForm("password"))
		@helper.inputPassword(registerForm("confirmPassword"))
		@helper.inputText(registerForm("email"))
        @helper.inputText(registerForm("name"))
        @helper.inputText(registerForm("surname"))
        @helper.inputText(registerForm("ssn"))
        <input type="submit" />
        
	}
	</div>
}
