@(registerForm: Form[User])

@main("Registration form", "Register") {
	<div class="four columns centered">
  	@helper.form(action = routes.UserController.newUser(), 'id -> "registerForm") {
		@helper.inputText(registerForm("username"))
		<div>
		@helper.inputPassword(registerForm("password"))	<div id="divPassword" style="background-image: url(@routes.Assets.at("images/ok.png"));"><img=url(@routes.Assets.at("images/ok.png"))/></div>
		</div>
		@helper.inputPassword(registerForm("confirmPassword"))
		@helper.inputText(registerForm("email"))
        @helper.inputText(registerForm("name"))
        @helper.inputText(registerForm("surname"))
        @helper.inputText(registerForm("ssn"))
        <input class="small button" type="submit" />
        
	}
	</div>
}
